{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Start Header Area -->
<header class="header-area">
	<!-- Start Top Header Area -->
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header-left-content">
						<a href="/">
							<img src="assets/img/logo/logo-one.png" class="main-logo" alt="Logo">
							<img src="assets/img/logo/logo-four.png" class="white-logo" alt="Logo">
						</a>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="header-right-content">
						<ul>
							<li>
								<a href="tel:+502-464-679">
									<i class='bx bxs-phone-call'></i>
									<span>Contact support</span>
									+86-123-4567-8999
								</a>
							</li>
							<li>
								<a href="##7c14191010133c0c0e190a1306521f1311">
									<i class='bx bx-envelope'></i>
									<span>Support Email</span>
									<span class="__cf_email__" data-cfemail="147c7178787b54646671627b6e3a777b79">pilety@pilety.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Top Header Area -->

	<!-- Start Prevoz Navbar Area -->
	<div class="prevoz-nav-style">
		<div class="navbar-area">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="/" class="logo">
					<img src="assets/img/logo/logo-one.png" alt="Logo">
				</a>
			</div>
			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<nav class="navbar navbar-expand-md navbar-light">
					<div class="container">
						<a class="navbar-brand" href="/">
							<img src="assets/img/logo/logo-one.png" alt="Logo">
						</a>
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="/" class="nav-link dropdown-toggle active">
										Home
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle">
										Pages
										<i class='bx bx-chevron-down'></i>
									</a>
									<ul class="dropdown-menu">
										
										<li class="nav-item">
											<a href="why-us-choose.html" class="nav-link">Why Us Choose</a>
										</li>
										<li class="nav-item">
											<a href="team.html" class="nav-link">Team</a>
										</li>
										
									</ul>
								</li>
								
								<!-- <li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle">
										Services
										<i class='bx bx-chevron-down'></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="services.html" class="nav-link">Services</a>
										</li>
										<li class="nav-item">
											<a href="road-transport.html" class="nav-link">Road Transport</a>
										</li>
										<li class="nav-item">
											<a href="air-transport.html" class="nav-link">Air  Transport</a>
										</li>
										<li class="nav-item">
											<a href="service-details.html" class="nav-link">Service Details</a>
										</li>
									</ul>
								</li> -->
								<li class="nav-item">
									<a href="services.html" class="nav-link">Services</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
							</ul>
							<!-- Start Other Option -->
							<div class="others-option">

								<div class="dark-switch">
									<div class="switch-box">
										<label id="switch" class="switch">
											<input type="checkbox" onchange="toggleTheme()" id="slider">
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<!-- End Other Option -->
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Prevoz Navbar Area -->
</header>
<!-- End Header Area -->

<!-- Start Sidebar Modal -->
<div class="sidebar-modal">  
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="bx bx-x"></i>
						</span>
					</button>
					<h2 class="modal-title" id="myModalLabel2">
						<a href="/">
							<img src="assets/img/logo/logo-one.png" alt="Logo">
						</a>
					</h2>
				</div>
				<div class="modal-body">
					<div class="sidebar-modal-widget">
						<h3 class="title">About Us</h3>
						<p>Pilety is a logistics, sourcing, importing, and exporting company 
							that specializes in providing seamless and efficient services 
							between China and Tanzania. We are committed to prioritizing 
							customer satisfaction and building long-lasting relationships
							with our clients.</p>
						<p>We are a reliable and efficient shipping company committed to 
							delivering your cargo safely and on time, every time. Trust
								us with your logistics needs.</p>							</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Contact Info</h3>
						<ul class="contact-info">
							<li>
								<i class="bx bx-location-plus"></i>
								Address
								<span>Zhejiang Province - Jinhua, Yiwu</span>
							</li>
							<li>
								<i class="bx bx-envelope"></i>
								Email
								<a href="##7a121f1616153a0a081f0c150054191517"><span class="__cf_email__" data-cfemail="bcd4d9d0d0d3fcccced9cad3c692dfd3d1">pilety@pilety.com</span></a>
								<a href="##acc5c2cac3ecdcdec9dac3d682cfc3c1"><span class="__cf_email__" data-cfemail="ed84838b82ad9d9f889b8297c38e8280">support@pilety.com</span></a>
							</li>
							<li>
								<i class="bx bxs-phone-call"></i>
								Phone
								<a href="tel:+502-464-679">+86-123-4567-8999</a>
								<a href="tel:+265-497-466">+86-123-4567-8999</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Connect With Us</h3>
						<ul class="social-list">
							<li>
								<a href="#">
									<i class='bx bxl-twitter'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-facebook'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-instagram'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-linkedin'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-youtube'></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Sidebar Modal -->


<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1 jarallax"  data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="page-title-content">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<h2>About Us</h2>
				</div>
				<div class="col-lg-6 col-sm-6">
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>
						<li>About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="about-img">
					<img src="assets/img/about-img.jpg" alt="Image">
					<div class="about-quatre">
						<i class="bx bxs-quote-alt-left bx-tada"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-content ml-30">
					<span>Know About Us </span>
					<h2>Reliable and express logistics and transport solutions That 
						wastes no time!</h2>
					<p>Our goal is to exceed our clients' expectations while 
						contributing to the economic growth of both China and 
						Tanzania. We strive to promote ethical business practices 
						and work towards building a more sustainable future for 
						all.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Area -->


<!-- Start About Area -->
<section class="about-area about-area-two ptb-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-content">
					<span>Know About Us </span>
					<h2>Reliable and express logistics and transport solutions That wastes no time!</h2>
					<p class="mb-2">At Pilety, we are committed to providing 
						exceptional customer service and support. We strive to 
						build long-term relationships with our clients based on 
						trust, reliability, and professionalism. With our 
						extensive network of partners and suppliers around 
						the world, we can help your business expand globally and 
						reach new markets.</p>
					<p>We offer a comprehensive range of services that can help your 
						business streamline its supply chain operations. Our team 
						of experienced professionals is dedicated to providing 
						personalized solutions that meet your specific needs and 
						requirements.</p>
				</div>
			</div>
			<div class="col-lg-6 pr-0">
				<div class="about-img inner-about-img">
					<div class="about-list">
						<h3>Our Prime priorities:</h3>
						<ul>
							<li>
								<i class="flaticon-checked"></i>
								Quality services: High-quality services for clients									</li>
							<li>
								<i class="flaticon-checked"></i>
								Timely delivery: Services delivered on agreed timelines
							</li>
							<li>
								<i class="flaticon-checked"></i>
								Customer support: Dedicated team for client assistance.
							</li>
							<li>
								<i class="flaticon-checked"></i>
								Confidentiality: Strict protection of client information									</li>
							<li>
								<i class="flaticon-checked"></i>
								Affordable pricing: Competitive pricing for accessible services.									
							</li>
							<li>
								<i class="flaticon-checked"></i>
								Innovative technology: Efficient use of innovative tools.									
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Area -->


<!-- Start Brand Area -->
<div class="brand-area pt-70 pb-70">
	<div class="container">
		<div class="row">
			<div class="brand-wrap owl-carousel owl-theme">
				<div class="brand-item">
					<a href="#">
						<img src="assets/img/brand/1.png" alt="Image">
					</a>
				</div>
				<div class="brand-item">
					<a href="#">
						<img src="assets/img/brand/2.png" alt="Image">
					</a>
				</div>
				<div class="brand-item">
					<a href="#">
						<img src="assets/img/brand/3.png" alt="Image">
					</a>
				</div>
				<div class="brand-item">
					<a href="#">
						<img src="assets/img/brand/4.png" alt="Image">
					</a>
				</div>
				<div class="brand-item">
					<a href="#">
						<img src="assets/img/brand/5.png" alt="Image">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Brand Area -->


<!-- Start Fun Facts Area -->
<section class="fun-facts-area pb-100">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-6">
				<div class="facts-img"></div>
			</div>
			<div class="col-lg-6">
				<div class="skill-bar-wrapper"> 
					<div class="fun-facts-content">
						<span>Fun Facts</span>
						<h2>Providing A Range Of High Services & Solutions Worldwide</h2>
					</div>
					<div class="skill-bar" data-percentage="95%">
						<h4 class="progress-title-holder">
							<span class="progress-title">Warehousing</span>
							<span class="progress-number-wrapper">
								<span class="progress-number-mark">
									<span class="percent"></span>
									<span class="down-arrow"></span>
								</span>
							</span>
						</h4>
						<div class="progress-content-outter">
							<div class="progress-content"></div>
						</div>
					</div>
					<div class="skill-bar" data-percentage="90%">
						<h4 class="progress-title-holder clearfix">
							<span class="progress-title">Product Sourcing</span>
							<span class="progress-number-wrapper">
								<span class="progress-number-mark">
									<span class="percent"></span>
									<span class="down-arrow"></span>
								</span>
							</span>
						</h4>
						<div class="progress-content-outter">
							<div class="progress-content"></div>
						</div>
					</div>
					<div class="skill-bar" data-percentage="95%">
						<h4 class="progress-title-holder clearfix">
							<span class="progress-title">Ocean Freight</span>
							<span class="progress-number-wrapper">
								<span class="progress-number-mark">
									<span class="percent"></span>
									<span class="down-arrow"></span>
								</span>
							</span>
						</h4>
						<div class="progress-content-outter">
							<div class="progress-content"></div>
						</div>
					</div> 
					<div class="skill-bar" data-percentage="80%">
						<h4 class="progress-title-holder clearfix">
							<span class="progress-title">Road Freight</span>
							<span class="progress-number-wrapper">
								<span class="progress-number-mark">
									<span class="percent"></span>
									<span class="down-arrow"></span>
								</span>
							</span>
						</h4>
						<div class="progress-content-outter">
							<div class="progress-content"></div>
						</div>
					</div> 
					<!-- <div class="skill-bar mb-0" data-percentage="75%">
						<h4 class="progress-title-holder clearfix">
							<span class="progress-title">Air Freight</span>
							<span class="progress-number-wrapper">
								<span class="progress-number-mark">
									<span class="percent"></span>
									<span class="down-arrow"></span>
								</span>
							</span>
						</h4>
						<div class="progress-content-outter">
							<div class="progress-content"></div>
						</div>
					</div>  -->
				</div>
			</div>
		</div>
	</div>
	<div class="lines">
		<div class="line-two"></div>
		<div class="line-two"></div>
		<div class="line-two"></div>
	</div>
</section>
<!-- End Fun Facts Area -->




{% endblock %}

		