{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Start Sidebar Modal -->
<div class="sidebar-modal">  
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="bx bx-x"></i>
						</span>
					</button>
					</button>
					<h2 class="modal-title" id="myModalLabel2">
						<a href="index-2.html">
							<img src="assets/img/logo/logo-one.png" alt="Logo">
						</a>
					</h2>
				</div>
				<div class="modal-body">
					<div class="sidebar-modal-widget">
						<h3 class="title">About Us</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur? Dicta pariatur.</p>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Additional Links</h3>
						<ul>
							<li>
								<a href="log-in.html">Log In</a>
							</li>
							<li>
								<a href="sign-up.html">Sign Up</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
							<li>
								<a href="#">Logout</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Contact Info</h3>
						<ul class="contact-info">
							<li>
								<i class="bx bx-location-plus"></i>
								Address
								<span>New York - 1060, Str. First 78 Great Western Road</span>
							</li>
							<li>
								<i class="bx bx-envelope"></i>
								Email
								<a href="##0d65686161624d7d7f687b6277236e6260"><span class="__cf_email__" data-cfemail="e68e838a8a89a696948390899cc885898b">[email&#160;protected]</span></a>
								<a href="##355c5b535a75454750435a4f1b565a58"><span class="__cf_email__" data-cfemail="cfa6a1a9a08fbfbdaab9a0b5e1aca0a2">[email&#160;protected]</span></a>
							</li>
							<li>
								<i class="bx bxs-phone-call"></i>
								Phone
								<a href="tel:+502-464-679">+502-464-679</a>
								<a href="tel:+265-497-466">+265-497-466</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Connect With Us</h3>
						<ul class="social-list">
							<li>
								<a href="#">
									<i class='bx bxl-twitter'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-facebook'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-instagram'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-linkedin'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-youtube'></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1 jarallax"  data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="page-title-content">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<h2>Request A Quote</h2>
				</div>
				<div class="col-lg-6 col-sm-6">
					<ul>
						<li>
							<a href="index-2.html">
								Home 
							</a>
						</li>
						<li>Request A Quote</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Track Area -->
<section class="track-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="tab quote-list-tab">
					<ul class="tabs">
						<li>
							<a href="#">
								<i class="flaticon-truck"></i>
								Track & Trace
							</a>
						</li>
						<li>
							<a href="#">
								Request A Quote
								<i class="flaticon-quote"></i>
							</a>
						</li>
					</ul>
					<div class="tab_content">
						<div class="tabs_item">
							<form>
								<div class="row">
									<div class="col-lg-8">
										<div class="row">
											<div class="col-12">
												<h3>Personal Data</h3>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Your Name*">
												</div>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="form-group">
													<input type="email" class="form-control" placeholder="Your Email*">
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Your Phone*">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<h3>Shipment Data</h3>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="form-group">
													<select>
														<option value="1">Type of flight One</option>
														<option value="2">Type of flight Two</option>
														<option value="0">Type of flight Three</option>
														<option value="3">Type of flight Four</option>
														<option value="4">Type of flight Five</option>
														<option value="5">Type of flight Six</option>
														<option value="6">Type of flight Seven</option>
													</select>
												</div>
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="City of Departure">
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Which City">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 col-sm-6">
												<div class="form-group">
													<select>
														<option value="1">Incomers One</option>
														<option value="2">Incomers Two</option>
														<option value="0">Incomers Three</option>
														<option value="3">Incomers Four</option>
														<option value="4">Travel Insurance Five</option>
														<option value="5">Incomers Six</option>
														<option value="6">Incomers Seven</option>
													</select>
												</div>
											</div>
											<div class="col-lg-2 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Width">
												</div>
											</div>
											<div class="col-lg-2 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Height">
												</div>
											</div>
											<div class="col-lg-2 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Width">
												</div>
											</div>
											<div class="col-lg-2">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Length">
												</div>
											</div>
										</div>
										<div class="row mb-30">
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Express Delivery
													<input type="radio" checked="checked" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Ocean Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Road Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Air Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<button type="submit" class="default-btn">
													Request A Quote
												</button>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="track-img"></div>
									</div>
								</div>
							</form>
						</div>

						<div class="tabs_item">
							<form>
								<div class="row">
									<div class="col-lg-8">
										<div class="row">
											<div class="col-12">
												<h3>Shipment Type</h3>
												<div class="form-group">
													<select>
														<option value="1">Property Used For</option>
														<option value="2">Home Insurance</option>
														<option value="0">Business Insurance</option>
														<option value="3">Health Insurance</option>
														<option value="4">Travel Insurance</option>
														<option value="5">Car Insurance</option>
														<option value="6">Life Insurance</option>
													</select>
												</div>
											</div>
											<div class="col-12 mt-30">
												<h3>Tracking Number</h3>
											</div>
											<div class="col-12">
												<div class="form-group">
													<textarea class="form-control" placeholder="You can enter up to a maximum of 10 airway bill numbers for tracking."></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Express Delivery
													<input type="radio" checked="checked" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Ocean Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Road Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-lg-3 col-sm-6 col-md-3">
												<label class="single-check">
													Air Freight
													<input type="radio" name="radio">
													<span class="checkmark"></span>
												</label>
											</div>
											<button type="submit" class="default-btn mt-30">
												Request A Quote
											</button>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="track-img"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Track Area -->






{% endblock %}
