{% load static %}

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 bg-dark">
        <a href="{% url 'allin:' %}" class="navbar-brand p-0">
            {% comment %} <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1> {% endcomment %}
            <img src="{% static 'img/logo/logo-two.png' %}" alt="Logo"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'allin:service' %}" class="nav-item nav-link">Services</a>
                <a href="{% url 'allin:about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'allin:contact' %}" class="nav-item nav-link">Contact</a>
                {% comment %} <a href="{% url 'allin:package' %}" class="nav-item nav-link">Track</a> {% endcomment %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'allin:whyus' %}" class="dropdown-item">why us</a>
                        <a href="{% url 'allin:team' %}" class="dropdown-item">team</a>
                        {% comment %} <a href="{% url 'allin:team' %}" class="dropdown-item">Travel Guides</a>
                        <a href="{% url 'allin:testimonial' %}" class="dropdown-item">Testimonial</a>
                        <a href="{% url 'allin:404' %}" class="dropdown-item">404 Page</a> {% endcomment %}
                    </div>
                </div>
                {% comment %} <a href="{% url 'allin:contact' %}" class="nav-item nav-link">Contact</a> {% endcomment %}
            </div>
            

           
        </div>
    </nav>

    
</div>
