{% load static %}

{% block content %}


<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area footer-bottom-area-four">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="single-widget-bottom">
                    <ul>
                        <!-- <li>
                            <a href="terms-conditions.html">Terms & Conditions</a>
                        </li> -->
                        <li>
                            <a href="{% url 'shipping:policy' %}">Privacy &Policy</a>
                        </li>

                    <ul class="social-link">
                        <li>
                            <a href="#">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-youtube'></i>
                            </a>
                        </li>
                    </ul>
                </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-widget-bottom">
                    <p>
                        Copyright <i class="bx bx-copyright"></i> 2023 Pilety.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Bottom Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class='bx bx-chevrons-up bx-fade-up'></i>
    <i class='bx bx-chevrons-up bx-fade-up'></i>
</div>
<!-- End Go Top Area --> 



{% endblock %}