{% load static %}

<footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
            <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <p class="float-end">Designed by <a href="#">Your Name</a></p>
        </div>
      </div>
    </div>
  </footer>
  