{% load static %}




<!-- Start Header Area -->
<header class="header-area-four six fixed-top">
    <!-- Start Top Header Area -->
    <div class="header-style-four">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="header-left-content">
                        
                        <ul>
                            <li>
                                <a href="+8613157959722">
                                    <i class="bx bx-phone-call"></i>
                                    +86-131-5795-9722
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx-envelope"></i>
                                    <span class="__cf_email__" data-cfemail="1f777a7373705f6f6d7a697065317c7072">pilety@pilety.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="header-right-content">
                        <ul class="additional-link">
                            <!-- <li>
                                <a href="news-grid.html">News & Media</a>
                            </li> -->
                            <li>
                                <a href="#">Admin Panel</a>
                            </li>
                            <li>
                                <a href="#">Finance Panel</a>
                            </li>
                        </ul>
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->

    {% include 'navbar.html' %}

    
</header>
<!-- End Header Area -->



