{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Start Sidebar Modal -->
<div class="sidebar-modal">  
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    </button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="index-2.html">
                            <img src="{% static '/img/logo/logo-one.png' %}" alt="Logo">
                        </a>
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">About Us</h3>
                        <p>Pilety is a logistics, sourcing, importing, and exporting company that specializes in providing seamless and efficient services between China and Tanzania. We are committed to prioritizing customer satisfaction and building long-lasting relationships with our clients.</p>
                        <p>We are a reliable and efficient shipping company committed to delivering your cargo safely and on time, every time. Trust us with your logistics needs.</p>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Additional Links</h3>
                        <ul>
                            <li>
                                <a href="log-in.html">Log In</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Contact Info</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-location-plus"></i>
                                Address
                                <span>New York - 1060, Str. First 78 Great Western Road</span>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i>
                                Email
                                <a href="##aac2cfc6c6c5eadad8cfdcc5d084c9c5c7"><span class="__cf_email__" data-cfemail="ee868b828281ae9e9c8b988194c08d8183">[email&#160;protected]</span></a>
                                <a href="##3950575f5679494b5c4f5643175a5654"><span class="__cf_email__" data-cfemail="3f565159507f4f4d5a495045115c5052">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i>
                                Phone
                                <a href="tel:+502-464-679">+502-464-679</a>
                                <a href="tel:+265-497-466">+265-497-466</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Connect With Us</h3>
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Search Box Modal -->
<div class="search-wrap">
    <div class="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" class="form-control" placeholder="Type Here..." />
            <button type="submit" class="default-btn">
                Search
            </button>
        </form>
    </div>
</div>
<!-- End Search Box Modal -->

<!-- Start Prevoz Slider Area -->
<section class="prevoz-slider-area prevoz-slider-area-six">
    <div class="prevoz-slider-style owl-carousel owl-theme">
        <div class="prevoz-slider-item slider-item-bg-16">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text one">
                            <h1>World Most Fastest delivery Services</h1>
                            <p>If we drive down the cost of transportation in space, we can do great things.</p>
                            <!-- <div class="slider-btn">
                                <a class="default-btn active" href="#">
                                    Our Services
                                </a>
                                <a class="default-btn white" href="#">
                                    Request A Quote
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prevoz-slider-item slider-item-bg-17">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text two">
                            <h1>Continental Transportation</h1>
                            <p>If we drive down the cost of transportation in space, we can do great things.</p>
                            <!-- <div class="slider-btn">
                                <a class="default-btn active" href="#">
                                    Our Services
                                </a>
                                <a class="default-btn white" href="#">
                                    Request A Quote
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prevoz-slider-item slider-item-bg-18">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text three">
                            <h1>World's Best Transportation</h1>
                            <p>If we drive down the cost of transportation in space, we can do great things.</p>
                            <!-- <div class="slider-btn">
                                <a class="default-btn active" href="#">
                                    Our Services
                                </a>
                                <a class="default-btn white" href="#">
                                    Request A Quote
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Prevoz Slider Area -->



<!-- Start About Area -->
<section class="about-area about-area-two about-area-four about-area-six bg-f7f7f7 ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span>Know About Us </span>
                    <h2>Reliable and express logistics and transport solutions That
                         wastes no time!</h2>
                    <p>Our goal is to exceed our clients' expectations while 
                        contributing to the economic growth of both China and 
                        Tanzania. We strive to promote ethical business 
                        practices and work towards building a more sustainable 
                        future for all.</p>
                    <a class="default-btn" href="{% url 'allin:about' %}" >
                        About Us
                    </a>
                    <a class="white video-btn popup-youtube" href="https://www.youtube.com/watch?v=cTxCqUwnLg4">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-img-six">
                    <img src="{% static '/img/about-img-six.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End About Area -->

<!-- Stat Choose Area -->
<section class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Why should you choose us?</h2>
            <p>We have built a trustworthy reputation in the industry, and our clients can rely on us to deliver quality services consistently.</p>
        </div>
    
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-choose">
                    <div class="choose-head">
                        <i class="bx bxl-codepen"></i>
                        <h3>Quality services</h3>
                    </div>

                    <div class="choose-content">
                        <p>We provide high-quality services that meet the needs of our clients.</p>
                        <!-- <a href="#" class="read-more">
                            Read More
                            <i class="bx bx-right-arrow-alt"></i>
                        </a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-choose">
                    <div class="choose-head">
                        <i class="bx bx-store"></i>
                        <h3>Timely delivery</h3>
                    </div>

                    <div class="choose-content">
                        <p>We deliver our services within the agreed timelines to ensure that our clients meet their deadlines.</p>
                        <!-- <a href="#" class="read-more">
                            Read More
                            <i class="bx bx-right-arrow-alt"></i>
                        </a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-choose">
                    <div class="choose-head">
                        <i class="bx bx-box"></i>
                        <h3>Customer support</h3>
                    </div>

                    <div class="choose-content">
                        <p> We have a dedicated customer support team that is available to assist our clients with any queries or concerns they may have.</p>
                        <!-- <a href="#" class="read-more">
                            Read More
                            <i class="bx bx-right-arrow-alt"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'allin:whyus' %}" class="read-more">
                            Read More
                            <i class="bx bx-right-arrow-alt"></i>
                        </a>
    </div>
</section>
<!-- End Choose Area -->

<!-- Start Track Area -->
{% comment %} <section class="track-area track-area-six ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab quote-list-tab">
                    <ul class="tabs">
                        <li>
                            <a href="#">
                                <i class="flaticon-truck"></i>
                                Track & Trace
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Request A Quote
                                <i class="flaticon-quote"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab_content">
                        <div class="tabs_item">
                            <form>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3>Personal Data</h3>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Your Name*">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Your Email*">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Your Phone*">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <h3>Shipment Data</h3>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Type of flight One</option>
                                                        <option value="2">Type of flight Two</option>
                                                        <option value="0">Type of flight Three</option>
                                                        <option value="3">Type of flight Four</option>
                                                        <option value="4">Type of flight Five</option>
                                                        <option value="5">Type of flight Six</option>
                                                        <option value="6">Type of flight Seven</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="City of Departure">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Which City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Incomers One</option>
                                                        <option value="2">Incomers Two</option>
                                                        <option value="0">Incomers Three</option>
                                                        <option value="3">Incomers Four</option>
                                                        <option value="4">Travel Insurance Five</option>
                                                        <option value="5">Incomers Six</option>
                                                        <option value="6">Incomers Seven</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Width">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Height">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Width">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Length">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Express Delivery
                                                    <input type="radio" checked="checked" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Ocean Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Road Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Air Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="default-btn">
                                                    Request A Quote
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="track-img"></div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tabs_item">
                            <form>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3>Shipment Type</h3>
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Property Used For</option>
                                                        <option value="2">Home Insurance</option>
                                                        <option value="0">Business Insurance</option>
                                                        <option value="3">Health Insurance</option>
                                                        <option value="4">Travel Insurance</option>
                                                        <option value="5">Car Insurance</option>
                                                        <option value="6">Life Insurance</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-30">
                                                <h3>Tracking Number</h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="You can enter up to a maximum of 10 airway bill numbers for tracking."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Express Delivery
                                                    <input type="radio" checked="checked" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Ocean Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Road Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-md-3">
                                                <label class="single-check">
                                                    Air Freight
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="track-img"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- End Track Area -->

<!-- Start What We Offer Area -->
<section class="what-offer-area-two what-offer-area-four pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="single-offer">
                            <i class="icon flaticon-server"></i>
                            <h3>Warehousing</h3>
                            <p>We offer warehousing services that involve the storage and management 
                                of goods in a secure and organized facility.
                            </p>
                            <!-- <p>We offer warehousing services that involve the storage and management 
                                of goods in a secure and organized facility. We provide various types 
                                of warehousing solutions, such as temperature-controlled storage, 
                                inventory management, and order fulfillment. Our warehousing services 
                                are essential for businesses that need to store and distribute 
                                products efficiently.
                            </p> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single-offer">
                            <i class="icon flaticon-plastic-bottle"></i>
                            <h3>Ocean Freight</h3>
                            <p>We provide ocean freight services that involve the transportation of 
                                goods by sea between different ports around the world.
                            </p>
                            <!-- <p>We provide ocean freight services that involve the transportation of 
                                goods by sea between different ports around the world. We offer 
                                various ocean freight solutions, such as full container load (FCL) or 
                                less than container load (LCL) shipments. Our ocean freight services 
                                are ideal for businesses that need to transport large volumes of 
                                goods over long distances.
                            </p> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single-offer">
                            <i class="icon flaticon-street"></i>
                            <h3>Product Sourcing</h3>
                            <p>We offer product sourcing services that involve helping businesses find 
                                and purchase products from suppliers around the world. Our product sourcing services are ideal 
                                for businesses that want to expand their product offerings.
                            </p>
                            <!-- <p>We offer product sourcing services that involve helping businesses find 
                                and purchase products from suppliers around the world. We provide 
                                sourcing solutions for various industries, such as electronics, 
                                textiles, or food and beverage. Our product sourcing services are ideal 
                                for businesses that want to expand their product offerings or improve 
                                their supply chain efficiency.
                            </p> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-sm-6">
                        <div class="single-offer">
                            <i class="icon flaticon-air-freight"></i>
                            <h3>Air Freight</h3>
                            <p></p>
                        </div>
                    </div> -->
                    
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="what-offer-content">
                    <span>Core Services</span>
                    <h2>Logistic & Transport  Solutions </h2>
                    <p>When you work with us, you can expect a high level of transparency and 
                        communication throughout the entire logistics process. We pride ourselves 
                        on our ability to provide timely updates and status reports, so you always 
                        know where your goods are and when they will arrive at their destination.</p>
                    <ul class="mb-30">
                        <li>
                            <i class="flaticon-checked"></i>
                            We offer competitive pricing for our services, making them accessible to a wide range of clients.								</li>
                        <li>
                            <i class="flaticon-checked"></i>
                            We use innovative technology and tools to deliver our services, ensuring accuracy and efficiency.							</ul>
                    {% comment %} <a class="default-btn" href="services.html">
                        All Services
                    </a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What We Offer Area -->

<!-- Start video Area -->
<!-- <section class="video-area-six ptb-100">
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=cTxCqUwnLg4" class="video-btn popup-youtube">
                <i class='bx bx-play'></i>
            </a>
            <h2>Are You logistic? Join Our Team</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores sed obcaecati, magni excepturi, temporibus vero, inventore tenetur assumenda natus sequi labore. Voluptates eligendi dolores quod temporibus aperiam adipisci, quasi reprehenderit. Voluptates eligendi dolores quod temporibus.</p>
            <a href="#" class="default-btn">
                Join Us Today
            </a>
        </div>
    </div>
</section> -->
<!-- End video Area -->

<!-- Start Why Choose Us Area -->
<section class="choose-us-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>We are among the best</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 pr-0">
                <div class="choose-img choose-img-four">
                </div>
            </div>
            <div class="col-lg-8 pl-0">
                <div class="choose-tab-wrap">
                    <!-- <h2>Why our Company is best</h2> -->
                    <div class="tab quote-list-tab choose-tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    Our Mission
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Vision
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Goal
                                </a>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>Our mission is to provide seamless and efficient logistics, sourcing, importing, and exporting services between China and Tanzania while prioritizing customer satisfaction and building long-lasting relationships with our clients.</p>

                                <!-- <a class="default-btn" href="about-us.html">
                                    Learn About
                                </a> -->
                            </div>
    
                            <div class="tabs_item">
                                <p> Our vision is to be the leading logistics, sourcing, importing, and exporting company in the region, recognized for our exceptional service delivery, innovative solutions, and commitment to sustainable development.</p>

                                <!-- <a class="default-btn" href="about-us.html">
                                    Learn About
                                </a> -->
                            </div>

                            <div class="tabs_item">
                                <p>Our goal is to continuously improve our service delivery by leveraging technology, fostering collaboration with stakeholders, investing in our people, and promoting ethical business practices. We aim to exceed our clients' expectations while contributing to the economic growth of both China and Tanzania.</p>

                                <!-- <a class="default-btn" href="about-us.html">
                                    Learn About
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Area -->

<!-- Start Counter Area -->
<section class="counter-area-six pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-box"></i>

                    <h2>
                        <span class="odometer" data-count="8845">00</span> 
                        <span class="target">M +</span>
                    </h2>

                    <p>Delivered Packages</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-planet-earth"></i>

                    <h2>
                        <span class="odometer" data-count="2">00</span> 
                        <span class="target"></span>
                    </h2>

                    <p>Countries Covered</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-support"></i>

                    <h2>
                        <span class="odometer" data-count="1245">00</span> 
                        <span class="traget">+</span>
                    </h2>

                    <p>Satisfied Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-product-realise"></i>

                    <h2>
                        <span class="odometer" data-count="400">00</span> 
                        <span class="traget">K +</span>
                    </h2>

                    <p>Tons of Goods</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->



<!-- Start Regional offices  Area -->
<section class="office-map-area office-map-area-two office-map-area-four mt-minus-70">
    <div class="container">
        <div class="location-wrap">
            <div class="map-location">
                <h3><i class="flaticon-planet-earth"></i> Regional Offices</h3>
                <ul>
                    <li class="color">People's Republic of China</li>
                    
                    <li>Room 301, Building 20 <br>Futian District 4, Yiwu,Jinhua City<br>  Zhejiang Province</li>
                    <li>+86-131-5795-9722 <br> 
                        <a href="#" class="__cf_email__" data-cfemail="a8c7cecec1cbcde8d8dacddec7d286cbc7c5">pilety@pilety.com</a></li>
                    <li>Mon - Sun: 9:00 - 22:00</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Regional offices Area -->



{% endblock %}
