<div class="main-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Sidebar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="sidebarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:f_containers' %}"> Full Containers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:l_containers' %}">Loose Containers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:f_cargos' %}"> Full Cargos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:l_cargos' %}">Loose Cargos</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:products' %}">Products</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:product_quotes' %}">Product Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:shipping_quotes' %}">Shipping Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allin:deliveries' %}">Deliveries</a>
                    </li>
                    
                    
                    {% if request.user.is_superuser %}
                        
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'allin:expenses' %}">Expenses</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'allin:vehicles' %}">Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                        </li>
                    {% endif %}
                    
                    
                </ul>
            </div>
        </div>
    </nav>

</div>