{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="track-area ptb-100">
	<div class="container">
		<div class="row">
            <div class="col-lg-12">
				<div class="tab quote-list-tab">
					<ul class="tabs">
						<li>
							<a href="#">
								 <i class="flaticon-truck"></i> 
								Loose Cargos
							</a>
						</li>
                        <li>
							<a href="#">
								<i class="flaticon-package"></i>
								Products
							</a>
						</li>
                        <li>
							<a href="#">
								<i class="flaticon-warehouse"></i>
								Stocks
							</a>
						</li>
                        <li>
							<a href="#">
								<i class="flaticon-menu-1"></i>
								Invoice
							</a>
						</li>
                        
					</ul>
					<div class="tab_content">
                       
                        
                        
                        <div class="tabs_item">
                            <h2>Products in the Cargo</h2>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Cargo Name</th>
                                        <th>Total Weight</th>
                                        <th>Total ctns</th>
                                        <th>Total CBM</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in shipping_quote %}
                                        <tr>
                                            <td>{{ item.mark }}</td>
                                            <td>{{ item.weight }}</td>
                                            <td>{{ item.ctns }}</td>
                                            <td>{{ item.cbms }}</td>
                                            <td><a href="{% url 'allin:shipping_quote' item.id %}">Details</a></td>
    
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   
                    
                        <div class="tabs_item">
                            <h2>Available stocks from this Cargo</h2>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Item Number</th>
                                        <th>Supplier</th>
                                        <th>Total Pcs</th>
                                        <th>Total Price</th>
                                        <th>Total Weight</th>
                                        <th>CBM</th>
                                        <th>Receiver</th>
                                        <th>Loose Container</th>
                                        <th>Container Number</th>
                                        <th>Checked By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in stocks %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.item_number }}</td>
                                            <td>{{ item.supplier }}</td>
                                            <td>{{ item.total_pcs }}</td>
                                            <td>{{ item.total_price }}</td>
                                            <td>{{ item.total_weight }}</td>
                                            <td>{{ item.volume }}</td>
                                            <td>{{ item.receiver }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.container_number }}</td>
                                            <td>{{ item.cargos }}</td>
                                            <td><a href="{% url 'allin:product' item.id %}">Details</a></td>
                                    {% empty %}
                                        <h3>There is no available stock in this cargo</h3>
                                        </tr>
                                    
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
            


{% endblock %}
