{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="track-area ptb-100">
	<div class="container">
		<div class="row">
            <div class="col-lg-12">
				<div class="tab quote-list-tab">
					<ul class="tabs">
						<li>
							<a href="#">
								<!-- <i class="flaticon-truck"></i> -->
								Loose Cargos List
							</a>
						</li>
						
					</ul>
					<div class="tab_content">
						<div>
                            <form method="POST" action="{% url 'allin:deliver_cargo' %}">
                                {% csrf_token %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {% comment %} <th>Receiver</th> {% endcomment %}
                                        <th>Mark</th>
                                        <th>Ctns</th>
                                        <th>Weight</th>
                                        <th>CBM</th>
                                        <th>Container No.</th>
                                        <th>Recieved</th>
                                        <th>Departure</th>
                                        <th>Arrived</th>
                                        <th>Checked By</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cargos %}
                                        <tr>
                                            {% comment %} <td>{{ item.reciever }}</td> {% endcomment %}
                                            <td>{{ item.mark }}</td>
                                            <td>{{ item.ctns }}</td>
                                            <td>{{ item.weight }}</td>
                                            <td>{{ item.cbms }}</td>
                                            <td>{{ item.container }}</td>
                                            <td>{{ item.recieved }}</td>
                                            <td>{{ item.depature }}</td>
                                            <td>{{ item.arrived }}</td>
                                            <td>{{ item.dispature }}</td>
                                            <td>{{ item.get_status_display }}</td>
                                            <td><a href="{% url 'allin:l_cargo' item.id %}">Details</a></td>
                                            <td><input type="checkbox" name="selected_goods" value="{{ item.id }}"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button id="deliver-button" type="submit" class="btn btn-primary rounded-pill disabled-button">Deliver</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            


{% endblock %}
