main{
  min-height: 80vh;
}

h3{
  padding: 1rem 0 ;
}

.rating{
  margin: 2%;

}



.service-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-heading h2 {
  margin: 0;
}

.service-description {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.service-box {
  flex: 1;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.service-box:hover {
  background-color: #f8f8f8;
}

.service-box.active {
  background-color: #f8f8f8;
}

@media (max-width: 768px) {
  .service-heading {
    flex-direction: column;
  }

  .service-box {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}



/* .dashboard {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
  overflow-x: auto;
}

.box {
  width: 30%;
  background-color: #3f81a2;
  padding: 20px;
  border-radius: 10px;
}

.box:last-child {
  margin-right: 0;
} */

.tracking-container {
  width: 100%;
  /* max-width: 500px; */
  margin: auto;
  background-color: #3f81a2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 2%;
  margin-bottom: 2%;
  
}

.tracking-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.tracking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracking-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.tracking-input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: #ffc107;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}

.tracking-button {
  background-color: #0071c5;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2%;
}

.tracking-button:hover {
  background-color: #005da7;
}





.featured-container {
  background-color: #3f81a2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  /* max-width: 800px; */
  margin: auto;
}

.featured-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.featured-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 20px;
}

.featured-item {
  width: 300px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
  background-color: #495057;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
}

.featured-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.featured-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.featured-item-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.featured-item-link {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.featured-item-link:hover {
  color: #000;
}






.map-container {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-bottom: 2px;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.map-wrapper {
  position: relative;
  height: 100%;
}

.info-box {
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: #3f81a2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;
}

.info-box h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.info-box p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  .info-box {
    max-width: 200px;
  }
}





/* .map-wrapper {
  position: relative;
  height: 400px;
  margin-bottom: 50px;
}

.map-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
} */



.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.product-details-image {
  flex: 1;
  margin-bottom: 20px;
}

.product-details-image-container {
  position: relative;
  padding-bottom: 50%;
  /* 1:1 aspect ratio */
}

.product-details-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details-info {
  flex: 1;
}

.product-details-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-details-quantity,
.product-details-price,
.product-details-status {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-details-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-details-button:hover {
  background-color: #fff;
  color: #ff6600;
  border: 2px solid #ff6600;
}

@media (min-width: 768px) {
  .product-details-button {
    margin-top: 20px;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.product-grid-item img {
  max-width: 100%;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
