



/* Define styles for the invoice */
.invoice {
font-family: Arial, sans-serif;
font-size: 12px;
width: 600px;
margin: 0 auto;
}
.invoice-header {
border-bottom: 1px solid #11a8f4;
margin-bottom: 20px;
text-align: center;
}
.invoice-header h1 {
font-size: 28px;
font-weight: bold;
margin: 0;
padding: 0;
text-align: center;
}
.invoice-info {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.invoice-info .left {
width: 50%;
}
.invoice-info .left2 {
text-align: right;
width: 100%;
}
.invoice-info .right {
text-align: right;
width: 50%;
}
.invoice-table {
border-collapse: collapse;
margin-bottom: 20px;
width: 100%;
}
.invoice-table th,
.invoice-table td {
border: 1px solid #ccc;
padding: 10px;
}
.invoice-table th {
background-color: #eee;
font-weight: bold;
text-align: left;
}
.invoice-total {
text-align: right;
}


.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.disabled-button {
pointer-events: none;
opacity: 0.5;
}
