{% extends "base.html" %}
{% load static %}

{% block content %}



<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1 jarallax"  data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="page-title-content">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<h2>Services</h2>
				</div>
				<div class="col-lg-6 col-sm-6">
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>
						<li>Services</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Why Choose Us Area -->
<section class="choose-us-area pb-100">
	<div class="container">
		<div class="section-title">
			<h2>We are among the best</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 pr-0">
				<div class="choose-img choose-img-four">
				</div>
			</div>
			<div class="col-lg-8 pl-0">
				<div class="choose-tab-wrap">
					<!-- <h2>Why our Company is best</h2> -->
					<div class="tab quote-list-tab choose-tab">
						<ul class="tabs">
							<li>
								<a href="#">
									Our Mission
								</a>
							</li>
							<li>
								<a href="#">
									Our Vision
								</a>
							</li>
							<li>
								<a href="#">
									Our Goal
								</a>
							</li>
						</ul>
						<div class="tab_content">
							<div class="tabs_item">
								<p>Our mission is to provide seamless and efficient logistics, sourcing, importing, and exporting services between China and Tanzania while prioritizing customer satisfaction and building long-lasting relationships with our clients.</p>

								<!-- <a class="default-btn" href="about-us.html">
									Learn About
								</a> -->
							</div>
	
							<div class="tabs_item">
								<p> Our vision is to be the leading logistics, sourcing, importing, and exporting company in the region, recognized for our exceptional service delivery, innovative solutions, and commitment to sustainable development.</p>

								<!-- <a class="default-btn" href="about-us.html">
									Learn About
								</a> -->
							</div>

							<div class="tabs_item">
								<p>Our goal is to continuously improve our service delivery by leveraging technology, fostering collaboration with stakeholders, investing in our people, and promoting ethical business practices. We aim to exceed our clients' expectations while contributing to the economic growth of both China and Tanzania.</p>

								<!-- <a class="default-btn" href="about-us.html">
									Learn About
								</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Why Choose Us Area -->

<!-- End Began Area -->
<section class="began-area began-area-three began-area-four">
	<div class="container-fluid p-0">
		<div class="began-top-wrap">
			<div class="row">
				<div class="col-lg-5 pr-0">
					<div class="begans-bg">
					</div>
				</div>
				<div class="col-lg-7 pl-0">
					<div class="began-wrap">
						<h2>Keep safe your products with Pilety</h2>
						<div class="row">
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-fast-delivery"></i>
									<h3>Fast & Efficient Delivery</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-lock"></i>
									<h3>Security For Cargo Tools</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-stopwatch"></i>
									<h3>Real-Time Tracking</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-payment-method"></i>
									<h3>Easy Payment Methods</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-warehouse"></i>
									<h3>24/7 Hours Support</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 p-0">
								<div class="single-began">
									<i class="flaticon-distribution"></i>
									<h3>Warehouse Storage</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Began Area -->


<!-- Start What We Offer Area -->
<section class="what-offer-area-two what-offer-area-four pt-100 pb-70">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="single-offer">
							<i class="icon flaticon-server"></i>
							<h3>Warehousing</h3>
							<p>We offer the storage and management 
								of goods in a secure and organized facility.
							</p>
							
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single-offer">
							<i class="icon flaticon-plastic-bottle"></i>
							<h3>Ocean Freight</h3>
							<p>We facilitate the transportation of 
								goods by sea between different ports around the world.
							</p>
							
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single-offer">
							<i class="icon flaticon-street"></i>
							<h3>Product Sourcing</h3>
							<p>We help businesses to find 
								and purchase products from suppliers all around china.
							</p>
							
						</div>
					</div>
					
					
					
				</div>
			</div>
			<div class="col-lg-6">
				<div class="what-offer-content">
					<span>Core Services</span>
					<h2>Logistic & Transport  Solutions </h2>
					<p>When you work with us, you can expect a high level of transparency and 
						communication throughout the entire logistics process. We pride ourselves 
						on our ability to provide timely updates and status reports, so you always 
						know where your goods are and when they will arrive at their destination.</p>
					<ul class="mb-30">
						<li>
							<i class="flaticon-checked"></i>
							We offer competitive pricing for our services, making them accessible to a wide range of clients.								</li>
						<li>
							<i class="flaticon-checked"></i>
							We use innovative technology and tools to deliver our services, ensuring accuracy and efficiency.							</ul>
					{% comment %} <a class="default-btn" href="services.html">
						All Services
					</a> {% endcomment %}
				</div>
			</div>
            
		</div>
        <div>
            <h1>More About our services</h1>

            <p> We expertly manage the movement of goods on behalf of clients between specified sources and destinations, combining different transportation modes and types. To reduce their time-to-market, improve customer service and mitigate risk, we also work in partnership with our clients to integrate logistics functions in their end-to-end supply chain. When the outsource relationship is fully mature, we act as the lead logistics provider (LLP), managing multiple supply chain functions on our clients’ behalf.
            </p>
            <p> With local market presence, have a deep understanding of our clients businesses and the industries they operate in
            </p>
            <p> Expertly manage the movement of goods on behalf of clients between specified sources and destinations
            </p>
            <p> Skillfully navigate different transportation modes (road, river, rail, air and ocean) and utilize a range of transportation types
            </p>
            <p> Partner with our clients to integrate logistics functions into their end-to-end supply chain
            </p>
            <p> As Lead Logistics Provider (LLP), our integrated solutions span supply chain design; end-to-end control towers; orchestrating freight management and contract logistics; and enabling market access offerings
            </p>
            <p> Our customized information technology provides real time visibility and transparency along the entire value chain
            </p>
            <p> Our contract logistics and distribution networks in major geographies allow for full, seamless integration
            </p>
            <h1> Logistics
            </h1>
            <h3> Africa
            </h3>
            <p> Operates mainly in China and Africa Partners with clients to integrate logistics functions into their end-to-end supply chain.
            </p>
            <p> Offers logistics activities, including road freight, contract logistics, air and ocean and LLP
            </p>
            <p> Offers logistics activities across Africa, including road freight, contract logistics and LLP
            </p>
            <p> An integrated freight management and contract logistics provider with significant scale
            </p>
            <p> Offers end-to-end solutions in key industries using technology as a differentiator
            </p>
            <p> Reduces time-to-market, improves customer service and mitigates risk
            </p>


            <h1>Why you should pick Pilety import and export.
            </h1>
            <p>Attractive transit times (depending on the current market situation)
            </p>
            <p>Cheaper than air freight, with more generous volume conversion and no compromise on service quality
            </p>
            <p>Wide range of commodities accepted
            </p>
            <p>Flexible routing to avoid potential problems/delays
            </p>
            <p>Short notice bookings and later cut-offs
            </p>
            <p>Door to door service without transiting any terminal
            </p>
            <p>Enhanced security and damage protection
            </p>
            <p>Why you’ll be on the right track with intercontinental freight forwarding
            </p>
            <p>Door-to-door
            </p>
            <p>FCL (full container load) and LCL (less-than-container-load) services
            </p>
            <p>Value added services
            </p>
            <p>Highest security standards, GPS monitoring on request, tracking cargo on pilety.com
            </p>
            <p>All operations managed and controlled by Pilety employees at both ends
            </p>
            <p>Reducing emissions by approximately 90% compared to air freight
            </p>
            <p>Contact us now for a competitive quote!
            </p>
            <h1>Our core offerings
            </h1>
            <p>Contract logistics
            </p>
            <p>We reduce client and principal time-to-market
            </p>
            <p>Our focus is on improving customer service
            </p>
            <p>We help our clients mitigate risk
            </p>
            <p>We work in partnership with our clients, principals and customers to integrate logistics functions – including warehousing, distribution and synchronisation management – into their end-to-end supply chain
            </p>
            <h1>Freight
            </h1>
            <h3>Road freight
            </h3>
            <p>We supply primary and secondary distribution services by road in Africa and cross-border. All types of good from China as well as other temperature- and time-sensitive product.
            </p>
            <p>We boast an extensive fleet, coupled with deep expertise in multiple industries
            </p>
            <p>We focus on integrated solutions that improve real-time, end-to-end visibility
            </p>
            <p>We are agile and adaptive to changing market demands, optimizing. Resources and extracting synergies across all our capabilities
            </p>
            <h3>Air and Ocean
            </h3>
            <p>With over 9 years of experience, Pilety delivers local and international air and ocean freight management solutions.
            </p>
            <p>We are the foremost provider of comprehensive logistics and value-added services and solutions and our clients enjoy the benefits of custom-designed facilities - as well as the most up-to-date systems and equipment.
            </p>
            <p>We provide a comprehensive range of services to key industries and partner with equally experienced partners in over 10 countries.
            </p>
            <p>Our international freight management capability offers end-to-end import and export solutions - from point-of-origin to final destination
            </p>
            <p>Our services include freight forwarding, customs clearing, warehousing, transport and distribution and a full suite of trade finance products to facilitate local and international trade.
            </p>
            <h1>Lead Logistics Provider (LLP)
            </h1>
            <p>Our Lead Logistics Provider offering combines our logistics (warehousing and transport) management – and air and ocean freight management capabilities – under one umbrella. This means that Pilety now offers a consolidation of the various skills required to provide a true international Lead Logistics Provider solution.
            </p>
            <p>In developing this capability, we have partnered with a leading supply chain technology business, One Network, to manage our clients, principals and customers’ operations on a world-class control tower platform.
            </p>
            <p>We offer custom, relevant and innovative solutions that incorporate multi-modal and international freight management.
            </p>
            <p>We design, implement and operate integrated freight management solutions (including road, rail, air and ocean) that synergise available capacity, optimise assets and provide a solution that allows us to integrate and optimise operations to achieve the lowest possible total cost, using innovative commercials and a partnered approach to ensure success.
            </p>


            <p>At Pilety, we are dedicated to sourcing, warehouse storage and delivering timely import and export services to our customers from all angles of Africa at affordable prices. Our role is to the imports and exports good from China to Tanzania, as per customers request, we provide full cargo and   some of the largest collaboratively edited reference Projects in the world, which can be found. However, we act only as a hosting service, maintaining the infrastructure and organizational framework that allows our users to build the Wikimedia Projects by contributing and editing content themselves. Because of our unique role, there are a couple of things you should be aware of when considering our relationship to you, the Projects, and the other users:
            </p>
        </div>
	</div>
</section>
<!-- End What We Offer Area -->




{% endblock %}

