
{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Start Sidebar Modal -->
<div class="sidebar-modal">  
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="bx bx-x"></i>
						</span>
					</button>
					</button>
					<h2 class="modal-title" id="myModalLabel2">
						<a href="/">
							<img src="assets/img/logo/logo-one.png" alt="Logo">
						</a>
					</h2>
				</div>
				<div class="modal-body">
					<div class="sidebar-modal-widget">
						<h3 class="title">About Us</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur? Dicta pariatur.</p>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Additional Links</h3>
						<ul>
							<li>
								<a href="log-in.html">Log In</a>
							</li>
							<li>
								<a href="sign-up.html">Sign Up</a>
							</li>
							<!-- <li>
								<a href="faq.html">FAQ</a>
							</li>
							<li>
								<a href="#">Logout</a>
							</li> -->
						</ul>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Contact Info</h3>
						<ul class="contact-info">
							<li>
								<i class="bx bx-location-plus"></i>
								Address
								<span>New York - 1060, Str. First 78 Great Western Road</span>
							</li>
							<li>
								<i class="bx bx-envelope"></i>
								Email
								<a href="##cfa7aaa3a3a08fbfbdaab9a0b5e1aca0a2"><span class="__cf_email__" data-cfemail="5e363b3232311e2e2c3b283124703d3133">[email&#160;protected]</span></a>
								<a href="##8ee7e0e8e1cefefcebf8e1f4a0ede1e3"><span class="__cf_email__" data-cfemail="c7aea9a1a887b7b5a2b1a8bde9a4a8aa">[email&#160;protected]</span></a>
							</li>
							<li>
								<i class="bx bxs-phone-call"></i>
								Phone
								<a href="tel:+502-464-679">+502-464-679</a>
								<a href="tel:+265-497-466">+265-497-466</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-modal-widget">
						<h3 class="title">Connect With Us</h3>
						<ul class="social-list">
							<li>
								<a href="#">
									<i class='bx bxl-twitter'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-facebook'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-instagram'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-linkedin'></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class='bx bxl-youtube'></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1 jarallax"  data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="page-title-content">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<h2>Privacy Policy</h2>
				</div>
				<div class="col-lg-6 col-sm-6">
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>
						<li>Privacy Policy</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Inner Privacy Policy Area -->
<section class="privacy-policy ptb-100">
	<div class="container">
		<div class="single-privacy">
			<h3 class="mt-0">Privacy Policy for Pilety</h3>
			<p>At Pilety, we are committed to protecting the privacy of our clients 
				and their personal information. This privacy policy outlines how we 
				collect, use, disclose, and protect your personal information.
			</p>
			<h3>
				Collection of Personal Information

			</h3>
			<p>We collect personal information from our clients in order to provide 
				our transport, logistics, warehousing, and product sourcing services. 
				This information may include your name, contact information, payment 
				information, and other relevant details. We may collect this 
				information through our website, email, phone, or in person.
			</p>
			<h3>
										Use of Personal Information

			</h3>
			<p>
				We use your personal information to provide our services to you. 
				This includes processing payments, arranging transportation and logistics, 
				managing warehousing, and sourcing products. We may also use your information 
				to communicate with you about our services and respond to any inquiries or 
				requests you may have.
			</p>
			<h3>
										Disclosure of Personal Information

			</h3>
			<p>
				We will not disclose your personal information to any third parties 
				without your consent, except in the following circumstances:
				
					<li> When required by law or legal process</li> 
					<li> When necessary to protect our rights or property</li> 
					<li> When necessary to prevent fraud or other illegal activities</li> 
					<li> When necessary to provide our services to you 
					(e.g. sharing your contact information with a transportation provider)</li> 
				
			</p>

			<h3>
										Protection of Personal Information

			</h3>
			<p>
				We take reasonable measures to protect your personal information 
				from unauthorized access, use, or disclosure. This includes physical, 
				electronic, and procedural safeguards to protect against loss or theft, 
				as well as secure storage and transmission of data.
			</p>
			<h3>
										Access to Personal Information

			</h3>
			<p>
				You have the right to access and correct your personal information that 
				we hold. You may also request that we delete your personal information 
				from our records. To do so, please contact us at insert 
				contact information.

			</p>	
			<h3>
										Changes to Privacy Policy

			</h3>				
			<p>
				We may update this privacy policy from time to time. Any changes 
				will be posted on our website and will become effective 
				immediately upon posting.
			</p>

			<h3>
				Contact Us
			</h3>
			<p>
				If you have any questions or concerns about our privacy policy or 
				the handling of your personal information, please contact us 
				at insert contact information.
			</p>

		</div>
	</div>
</section>
<!-- End Inner Privacy Policy Area -->




{% endblock %}
